<ul class="nav nav-sidebar">
  <li class="sidebar-menu-item">
    <%= link_to spree.admin_offers_path, class: 'icon-link with-tip action-file' do %>
      <span class="icon icon-file"></span>
      <span class="text">Offers</span>
    <% end %>
    </li>
</ul>
